{% extends 'shopapp/base.html' %}
 {% load i18n %}
{% block title %}
	{% translate "Confirm archive" %} {{ object.name }}
{% endblock %}

{% block body %}
	<h1> {% translate "Are you sure you want to archive" %} {{ object.name }}?</h1>
	<br>
	<div>
		<a href="{% url 'shopapp:product_details' pk=object.pk %}"
		>{% translate "Back to product" %}</a>
	</div>
	<br>
	<div>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">{% translate "Archive" %}</button>
		</form>
	</div>
{% endblock %}