{% extends 'myauth/base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Authorization" %}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">{% translate "Login" %}</h2>
                <form method="POST" class="shadow p-4 rounded bg-light">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% translate "Login" %}
                        </button>
                    </div>
                </form>
                <br>
                <div class="text-center">
                    <a href="{% url 'myauth:register' %}" class="btn btn-link">
                        {% translate "Go to Registration" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
