{% extends 'myauth/base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Registration" %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{% translate "Registration" %}</h1>

    <div class="card shadow-lg">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
	<button type="submit" class="btn btn-primary btn-lg btn-block">{% translate 'Register' %}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'myauth:login' %}" class="btn btn-secondary">{% translate "Login" %}</a>
    </div>
</div>

<style>
    .card {
        border-radius: 15px;
    }
    .card-body {
        padding: 2rem;
    }
    h1 {
        font-family: 'Arial', sans-serif;
        color: #333;
    }
    .btn-lg {
        padding: 10px 20px;
        font-size: 1.2rem;
    }
</style>
{% endblock %}
