{% extends 'blogapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate "Article Delete" %} #{{ article.pk }}
{% endblock %}

{% block body %}
    <h1><b>{% translate "Are you sure you want to delete this article?" %}</b></h1>
    <h3><b>{% translate "This action cannot be undone." %}</b></h3>
    <div>
        <a href="{% url 'blogapp:articles_list' %}">{% translate "Back to list of articles" %}</a>
    </div>
    <div>
        <a href="{% url 'blogapp:article_detail' pk=article.pk %}">{% translate "Back to detail of article" %}</a>
    </div>
    <div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">{% translate "Delete" %}</button>
		</form>
	</div>
{% endblock %}